{%load thumbnail%}

<div class="large-3 columns end catalog-item">
    <div class="catalog-item-info">
        <div class="item-image-cont">
            <div class="item-image">
                <a href="{{ product.get_absolute_url }}" alt="{{ product.name }}">
                    {% thumbnail product.image_product.all.0.image "208x178" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ class.name }}">
                    {% endthumbnail %}
                </a>
            </div>
        </div>
        <div class="item-all-title">
            <a class="item-title" href="{{ product.get_absolute_url }}" alt="{{ product.name }}">{{ product.name }}</a>
        </div>
        <div class="article_rating">
            <div clas="article">Артикул:{{ product.articul }}</div>
        </div>

        <div class="item-price-cont">
            <div class="item-price">
                {% if product.sale_price %}
                <span class="catalog-item-price-old">{{ product.oldPrice }} руб.</span>
                <span class="catalog-item-price-percent">Экономия: {{ product.sale }} руб.</span>
                <span class="catalog-item-price">{{ product.price }}
                    <span class="unit">
                        <span>руб. за шт.</span>
                    </span>
                </span>
                {% else %}
                    <span class="catalog-item-price">{{ product.price }}
                        <span class="unit">
                            <span>руб. за шт</span>
                    </span>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>