{%load thumbnail%}

                <div class="title-catalog">
                    Каталог товаров
                </div>
                <ul class="vertical dropdown menu" data-dropdown-menu="xeljau-dropdown-menu" role="menubar">
                    {% for category in getCatalog %}
                    <li role="menuitem" class="is-dropdown-submenu-parent opens-right main-vertical" aria-haspopup="true" aria-expanded="true" aria-label="{{ category.slug }}" data-is-click="false">
                        <a href="{{ category.get_absolute_url }}" alt="{{ category.name }}" {% if not category.categoryclassmodel_set.all %} class="non-str"{% endif %}>
                            <span class="child">
                                <span class="image">
                                    {% thumbnail category.image "35x35" format="PNG" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ category.name }}">
                                    {% endthumbnail %}
                                </span>
                                <span class="text">{{ category.name }}</span>
                            </span>
                        </a>
                        {% if category.categoryclassmodel_set.all %}
                            <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" aria-hidden="false" role="menu">
                                {% for categoryClass in category.categoryclassmodel_set.all %}
                                    <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item main-vertical-sub">
                                        <a href="{{ categoryClass.get_absolute_url }}" alt="{{ categoryClass.name }}">
                                            <span class="child">
		        							    <span class="image">
                                                    {% thumbnail categoryClass.image "35x35" format="PNG" as im %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ categoryClass.name }}">
                                                    {% endthumbnail %}
                                                </span>
            									<span class="text">{{ categoryClass.name }}</span>
	            							</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>




<!-- <li role="menuitem" class="is-dropdown-submenu-parent is-submenu-item is-dropdown-submenu-item opens-right" aria-haspopup="true" aria-expanded="false" aria-label="Item 1B" data-is-click="false">
                                        <a href="#Item-1B">Item 1B</a>
                                        <ul class="menu submenu is-dropdown-submenu vertical" data-submenu="" aria-hidden="true" role="menu">
                                            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="#Item-1Bi">Item 1B i</a></li>
                                            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="#Item-1Bii">Item 1B ii</a></li>
                                        </ul>
                                    </li> -->