.wrap3d {
    height: 205px;
    position: relative;

    .compo3d {
        background: url(../image/3dcompo_objects.png);
        height: 207px;
        margin-top: 15px;
      #light_profil {
       background: url(../image/light_profil.png);
        width: 321px;
        height: 192px;
        position: absolute;
        top: 2px;
        left: 90px;
        opacity: 0;
        -webkit-transition: all 0.55s ease 0s;
        -moz-transition: all 0.55s ease 0s;
        -o-transition: all 0.55s ease 0s;
        transition: all 0.55s ease 0s;
    }

    #light_projectors {
        background: url(../image/light_projectors-3.png);
        width: 308px;
        height: 115px;
        position: absolute;
        top: -14px;
        left: 379px;
        opacity: 0;
        -webkit-transition: all 0.55s ease 0s;
        -moz-transition: all 0.55s ease 0s;
        -o-transition: all 0.55s ease 0s;
        transition: all 0.55s ease 0s;
    }

    #light_lamps {
        background: url(../image/light_lamps.png);
        width: 159px;
        height: 88px;
        position: absolute;
        top: 72px;
        left: 391px;
        opacity: 0;
        -webkit-transition: all 0.55s ease 0s;
        -moz-transition: all 0.55s ease 0s;
        -o-transition: all 0.55s ease 0s;
        transition: all 0.55s ease 0s;
    }

    #light_rgb {
        width: 89px;
        height: 46px;
        position: absolute;
        top: 102px;
        background: url(../image/light_rgb.jpg);
        left: 560px;
        opacity: 0;
        -webkit-transition: all 0.55s ease 0s;
        -moz-transition: all 0.55s ease 0s;
        -o-transition: all 0.55s ease 0s;
        transition: all 0.55s ease 0s;
    }

    #light_linear {
        width: 177px;
        height: 28px;
        position: absolute;
        top: 18px;
        left: 700px;
        background: url(../image/light_linear.jpg);
        opacity: 0;
        -webkit-transition: all 0.55s ease 0s;
        -moz-transition: all 0.55s ease 0s;
        -o-transition: all 0.55s ease 0s;
        transition: all 0.55s ease 0s;
    }

    #light_pointers {
        width: 146px;
        height: 86px;
        position: absolute;
        top: 77px;
        left: 685px;
        background: url(../image/light_pointers.jpg);
        opacity: 0;
        -webkit-transition: all 0.55s ease 0s;
        -moz-transition: all 0.55s ease 0s;
        -o-transition: all 0.55s ease 0s;
        transition: all 0.55s ease 0s;
    }

    #light_ribbon {
       width: 301px;
        height: 160px;
        position: absolute;
        top: 30px;
        left: 828px;
        background: url(../image/light_ribbon.gif);
        opacity: 0;
        -webkit-transition: all 0.55s ease 0s;
        -moz-transition: all 0.55s ease 0s;
        -o-transition: all 0.55s ease 0s;
        transition: all 0.55s ease 0s;
    }

    #light_profil:hover, #light_ribbon:hover,
    #light_pointers:hover, #light_linear:hover,
    #light_rgb:hover, #light_lamps:hover,
    #light_projectors:hover {
       opacity: 1;
    }
  }
}


