body {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #8184a1;
    text-align: left;
    line-height: 1.3;
    background: #ffffff;
    outline: none;
}
/*main*/
.large-inside {
    padding: 0;
}

h1 {
    color: #6c6d71;
    margin-top: 0;
}

/*btn*/
.btn_buy {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #402a1d;
    text-align: center;
    text-transform: uppercase;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background: #fde037;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
    }

.btn_buy.apuo {
    color: #8184a1;
    text-decoration: none;
    line-height: 27px;
    border: 1px solid #dee0ee;
    background: none;
}

.btn_buy.apuo:hover {
    border: 1px solid #575b71;
}

.btn_buy:hover {
    color: #fff;
    text-decoration: none;
    background: #575b71;
    cursor: pointer;
}

.main-section {
    min-height: 100vh;
    width: 100%;
    background: #ffffff;
    position: relative;
    padding-bottom: 275px;
}


/*callModal*/
.reveal {
    padding: 0 1rem;
    border: none;
    background-color: transparent;
    outline: none;
    overflow-y: initial;
    height: 192px;
}

#callModal .h1 {
    width: 100%;
    margin: 0px;
    padding: 14px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -khtml-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    background: #a0a4bc;
}
    #callModal .pop-up {
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
        background: #f4f5fd;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
    }

    .close-button {
        position: absolute;
        right: 0.5rem;
        top: -0.6rem;
        border-radius: 12px;
        background: #575b71;
        width: 24px;
        height: 24px;
        line-height: 0;
        outline: none;
    }

    .callback_form {
        width: 100%;
        float: left;
        margin: 0px;
        padding: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row-form {
        width: 100%;
        float: left;
        display: table;
        margin: 0px 0px 5px 0px;
        padding: 0px;
    }

    .row-form .span1 {
        width: 125px;
        display: table-cell;
        vertical-align: middle;
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        color: #575b71;
        text-align: left;
    }

    .row-form .span2 {
        width: auto;
        display: table-cell;
        margin: 0px;
        padding: 0px;
        text-align: left;
    }

    .row-form .span2 input[type="text"] {
        width: 100%;
        height: 30px;
        margin: 0px;
        padding: 0px 9px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #8184a1;
        text-align: left;
        border: 1px solid #dee0ee;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
        background: #fff;
    }

     #callModal div.submit button {
        width: 153px;
        height: 31px;
        float: right;
        margin: 0px;
        padding: 0px;
     }

     #callModal .btn_buy.popdef {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #9cc218;
        outline: none;
     }

     #callModal .btn_buy:hover {
        color: #fff;
        text-decoration: none;
        background: #575b71;
        cursor: pointer;
    }

.off-canvas-wrapper {
    overflow-x: visible;
}

.flat-content p {
    line-height: 1.2;
}

.orbit-previous, .orbit-next {
    outline: none;
}

.main-content-field {
    padding: 15px 0 5px;
}