.catalog-section {
    width: 100%;
    margin: 0px 0px 8px 0px;
    padding: 0px;
    display: inline-block;

    .catalog-section-title {
      width: 100%;
      padding: 0px;
      position: relative;
      margin: 0px 0px 4px 0px;

      p {
        display: block;
        margin: 0px;
        padding: 8px 38px 8px 12px;
        font-size: 16px;
        font-weight: 600;
        color: #575b71;
        border: 2px solid #edeef8;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        background: #edeef8;
      }

      .showchild {
        width: 38px;
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        text-align: center;

        i {
          width: 100%;
          position: absolute;
          left: 0px;
          top: 50%;
          margin: -9px 0px 0px 0px;
          padding: 0px;
          font-size: 18px;
          color: #dee0ee;
          -webkit-transition: all 0.15s ease 0s;
          -moz-transition: all 0.15s ease 0s;
          -o-transition: all 0.15s ease 0s;
          transition: all 0.15s ease 0s;
        }
      }
    }

    .catalog-section-childs {
      display: block;
      visibility: visible;
      -webkit-transition: all 0.35s linear;
      -moz-transition: all 0.35s linear;
      -o-transition: all 0.35s linear;
      transition: all 0.35s linear;

      .catalog-section-child {
        margin: 0px 0px 2px 0px;
        padding: 0 1px;

        a {
          height: 58px;
          display: block;
          margin: 0px;
          padding: 0px;
          text-decoration: none;
          border: 1px solid #dee0ee;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          -khtml-border-radius: 3px;
          border-radius: 3px;
          -webkit-transition: all 0.15s ease 0s;
          -moz-transition: all 0.15s ease 0s;
          -o-transition: all 0.15s ease 0s;
          transition: all 0.15s ease 0s;

          .child {
            border: 1px solid transparent;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            -khtml-border-radius: 4px;
            border-radius: 4px;
            -webkit-transition: all 0.15s ease 0s;
            -moz-transition: all 0.15s ease 0s;
            -o-transition: all 0.15s ease 0s;
            transition: all 0.15s ease 0s;

            .image {
              width: 66px;
              height: 56px;
              display: table-cell;
              vertical-align: middle;
              text-align: center;

              img {
                border: none;
              }
            }

            .text {
              height: 56px;
              font-size: 12px;
              line-height: 1;
              display: table-cell;
              vertical-align: middle;
              padding: 0px 5px;
              color: #575b71;
              text-decoration: underline;
              -webkit-transition: all 0.15s ease 0s;
              -moz-transition: all 0.15s ease 0s;
              -o-transition: all 0.15s ease 0s;
              transition: all 0.15s ease 0s;
            }
          }
        }
        a:hover {
          border: 1px solid #edeef8;
          -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
          -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
        }

        a:hover .child .text {
          text-decoration: none;
        }
      }
    }

    .visuallyhidden {
       opacity: 0;
    }

    .catalog-section-childs.hide-childs {
        display: none;
        visibility: hidden;
    }
}

    .catalog-section .catalog-section-title .showchild .fi-minus,
    .catalog-section .catalog-section-title.active .showchild .fi-plus {
        display: none;
        visibility: hidden;
    }

    .catalog-section .catalog-section-title .showchild .fi-plus {
        color: rgba(0, 26, 163, 0.4);
    }

     .catalog-section .catalog-section-title.active .showchild .fi-minus,
     .catalog-section .catalog-section-title .showchild .fi-plus {
        display: block;
        visibility: visible;
    }

    .catalog-section .catalog-section-title .showchild .fi-minus:hover,
    .catalog-section .catalog-section-title.active .showchild .fi-plus:hover,
    .catalog-section .catalog-section-title.active .showchild .fi-minus:hover,
    .catalog-section .catalog-section-title .showchild .fi-plus:hover {
        color: rgba(0, 26, 163, 0.5);
    }