/*footer*/
.footer-section {
    width: 100%;
    height: 253px;
    background: #edeef8;
    position: absolute;
    bottom: 0px;

    .footer-logo {
        width: 268px;
        height: 90px;
        margin: 20px 0 15px;

        a {
            width: 268px;
            height: 136px;
            background: url(../image/vlad_logo.png) no-repeat;
            float: left;
            background-size: cover;
            margin-bottom: 10px;
        }
    }

    .address {
        font-size: 11px;
        width: 278px;
        float: left;
    }

    .date-site {
        margin-bottom: 8px;
        font-size: 13px;
        float: left;
    }

    .contacts-two {
        float: right;
        margin: 60px 0 0px;

        .contacts-footer {
            margin-bottom: 8px;
            font-size: 15px;
            line-height: 19px;
            float: right;
        }
    }

    .contacts-btn {
      margin: 10px 0;
    }

    .copy {
        font-size: 10px;
        margin-top: 15px;
        padding-bottom: 10px;
        text-align: center;
    }

    .btn-footer {
      float: right;
      padding: 0.45em 1em;
      color: #ffffff;
      text-decoration: none;
      background: rgb(47, 113, 137);
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1.6;
      outline: 0;
    }

    .btn-footer:hover {
      text-decoration: none;
      background: rgb(35, 88, 107);
      cursor: pointer;
    }
}