/*header*/
#header {
  height: 450px;
  background: url(../image/glow.jpg) center top no-repeat #0f354a;
  width: 100%;
  position: relative;

  #header-top {
    border: none;
    margin: 0;
    padding: 50px 0 10px;

    .logo {
      height: 136px;
      background: url(../image/vlad_logo.png) no-repeat;
      display: block;
      background-size: cover;
    }

    .phone {
      font-family: Verdana;
      font-size: 20px;
      color: #ffffff;
      position: relative;
      float: right;
      padding: 5px 0;

      span {
        color: #8184a1;
      }
    }

    .phone:before {
      content: url(../image/phone_comp.png);
      position: absolute;
      left: -53px;
      top: 3px;
    }

    p {
      color: #ffffff;
      line-height: 1.2;
    }

    p.time {
      width: 100%;
      display: table;
      margin: 0px 0px 10px 0px;
      font-size: 12px;
      line-height: 1.6;

      i.fi-clock {
        font-size: 24px;
        position: relative;
        top: 5px;
        left: -5px;
      }
    }

    .btn-header {
      float: right;
      width: 80%;
      padding: 0.45em 0;
      color: #ffffff;
      text-decoration: none;
      background: rgba(240, 240, 240, .3);
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1.6;
    }

    .btn-header:hover {
      text-decoration: none;
      background: rgba(240, 240, 240, .4);
      cursor: pointer;
    }
  }
}