#content-wrap {
    padding-top: 20px;

  .title-catalog {
    height: 45px;
    font-size: 18px;
    background: #edeef8;
    color: #575b71;
    padding: 10px;
    border-radius: 3px 3px 0 0;
  }

  .dropdown.menu.vertical>li.opens-right>.is-dropdown-submenu {
    z-index: 4;
  }

  .dropdown.menu.vertical>li.opens-right>a:after {
    border-color: transparent transparent transparent #575b71;
  }

  .dropdown.menu.vertical>li.opens-right>a.non-str:after {
    content: none;
  }



  .menu li a {
    background: rgba(202, 202, 202, 0.1);
    color: #575b71;
    outline: 0 !important;
  }

  .menu li a:hover {
    background: rgb(223, 224, 235);
  }

  .main-vertical-sub a {
         width: 330px;
     }
     .main-vertical-sub a,
     .main-vertical a {
         padding: 5px 1.6rem 5px 0.5rem !important;
     }

     .main-vertical-sub a .child .image,
     .main-vertical a .child .image {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

     .main-vertical a .child .image {
         width: 50px;
     }

    .main-vertical-sub a .child .image img,
    .main-vertical a .child .image img {
        border: none;
    }

    .main-vertical-sub a .child .text,
    .main-vertical a .child .text {
        display: table-cell;
        vertical-align: middle;
        padding: 0px 5px;
        color: #575b71;
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s;
    }
}
