#loginModal {

  .tabs {
    background: transparent;
  }

  #login-tabs, .tabs-content {
    border: none;

    .tabs-title {
      width: 100%;
    }

    .tabs-title>a {
      font-size: 16px;
      font-weight: 600;
      background: #a0a4bc;
      color: #ffffff;
    }

    .tabs-title>a:hover {
      background: rgba(160, 164, 188, 0.72);
    }

    .is-active a {
      color: #868686;
      background: #f4f5fd;
      cursor: default;
    }

    .is-active a:hover {
      background: #f4f5fd;
    }

    #panel1-label {
      -moz-border-radius: 3px 0 0 0;
      -webkit-border-radius: 3px 0 0 0;
      -khtml-border-radius: 3px 0 0 0;
      border-radius: 3px 0 0 0;
    }

    #panel2-label {
      -moz-border-radius: 0 3px 0 0;
      -webkit-border-radius: 0 3px 0 0;
      -khtml-border-radius: 0 3px 0 0;
      border-radius: 0 3px 0 0;
    }
  }

  .pop-up {
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    background: #f4f5fd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
  }

  .tabs-content {
      -moz-border-radius: 0 0 3px 3px;
      -webkit-border-radius: 0 0 3px 3px;
      -khtml-border-radius: 0 0 3px 3px;
      border-radius: 0 0 3px 3px;
    .tabs-panel {
      background: #f4f5fd;
      -moz-border-radius: 0 0 3px 3px;
      -webkit-border-radius: 0 0 3px 3px;
      -khtml-border-radius: 0 0 3px 3px;
      border-radius: 0 0 3px 3px;
    }
  }

  .btn_buy.popdef {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #9cc218;
    width: 100%;
    padding: 0.6rem 1.1rem;
    outline: none;
    margin-top: 1rem;
  }

  .btn_buy:hover {
    color: #fff;
    text-decoration: none;
    background: #575b71;
    cursor: pointer;
  }

  #login-form, #registration-form {

    label {
      margin-top: 1rem;
    }

    input {
      margin-bottom: 0;
    }

    #span-hidden-pw-login,
    #span-hidden-em-reg,
    #span-hidden-pw-reg {
      width: 100%;
      font-size: .7rem;
      text-align: center;
    }
  }
}