.ourworks {
  h2 {
    text-transform: uppercase;
    color: #8184a1;
  }
  .thumbnail:hover {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
  }
  .item-work {
    position: relative;
    overflow: hidden;
    text-align: center;
    .name-work {
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      padding: 28px 0 0;
      height: 60px;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear;
      top: -70px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      width: 100%;
      font-size: 15px;
    }
  }
  .item-work:hover .name-work {
    top: 0
  }
}