.pagination-next a:after,
.pagination-previous a:after,
.pagination-next.disabled:after,
.pagination-previous.disabled:after {
    margin: 0;
}

.pagination {
   li {
    background: #adadad;
    a {
      color: #fefefe;
      -webkit-transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
      -moz-transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
      -o-transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
      transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
    }
    a:hover {
      color: #000000;
    }
  }
  li.current {
    padding: 0;
    color: #fefefe;
    cursor: default;
    background-color: #8184a1;
  }
}