.catalog-item {
    margin: 0px 0px 2px 0px;
    padding: 3px 2px;
    }

    .catalog-item .catalog-item-info {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 18px 13px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #dee0ee;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s;
    }

    .catalog-item .catalog-item-info:hover {
        border: 1px solid #edeef8;
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    }

    .catalog-item .catalog-item-info .item-image-cont {
        width: 100%;
        margin: 10px 0px 0px 0px;
        padding: 0px;
    }

    .catalog-item .catalog-item-info .item-image-cont .item-image {
        width: 100%;
        height: 178px;
        display: table;
        margin: 0px;
        padding: 0px;
        position: relative;
    }

        .catalog-item .item-image a {
            display: table-cell;
            vertical-align: middle;
            margin: 0px;
            padding: 0px;
            text-align: center;
            text-decoration: none;
        }

        .catalog-item .item-image a img {
            width: auto;
            height: auto;
            max-height: 178px;
            border: none;
            vertical-align: top;
        }

        .catalog-item .item-all-title {
            width: 100%;
            height: 33px;
            margin: 12px 0px 0px 0px;
            padding: 0px;
            overflow: hidden;
        }

            .catalog-item .item-all-title a.item-title {
                display: block;
                margin: 0px;
                padding: 0px;
                color: #575b71;
                text-decoration: underline;
            }

            .catalog-item .item-all-title a.item-title:hover {
                text-decoration: none;
            }

        .catalog-item .article_rating {
            width: 100%;
            margin: 8px 0px 0px 0px;
            padding: 0px;
        }

        .catalog-item .article {
            width: 128px;
            float: left;
            margin: 2px 0px 0px 0px;
            padding: 0px;
            overflow: hidden;
            font-size: 12px;
            color: #a0a4bc;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .catalog-item .item-price-cont {
            height: 72px;
            margin: 0px;
            padding: 0px;
            position: relative;
        }

        .catalog-item .item-price {
            position: absolute;
            left: 0px;
            bottom: -4px;
            margin: 0px;
            padding: 0px
        }

            .catalog-item .catalog-item-price-old,
            .catalog-item .catalog-item-price-percent,
            .catalog-item .catalog-item-price,
            .right-column .product-price-block .catalog-detail-item-price-old,
            .right-column .product-price-block .catalog-detail-item-price-percent,
            .right-column .product-price-block .catalog-detail-item-price
            {
                display: block;
                margin: 0px;
                padding: 0px;
            }

            .catalog-item .catalog-item-price-old {
                color: #a0a4bc;
                text-decoration: line-through;
            }

            .catalog-item .catalog-item-price-percent {
               color: #9d06d7;
            }

            .catalog-item .catalog-item-price {
                font-size: 24px;
                font-weight: 700;
                color: #000;
            }

            .catalog-item .catalog-item-price .unit {
                font-size: 12px;
                font-weight: 400;
                color: #8184a1;
            }

/*breadcrumbs*/
.breadcrumbs li:not(:last-child):after {
    top: -1px;
}

    .breadcrumbs a {
        color: #575b71;
        font-size: 12px;
    }

    .breadcrumbs .fi-home {
        font-size: 16px;
    }

    .breadcrumbs .product-current {
        color: rgba(117,123,135,0.82);
    }