/*product*/
.catalog-detail-pictures,
.catalog-detail-pictures .catalog-detail-picture {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}

    .catalog-detail-pictures .detail_picture {
        width: 100%;
        height: 310px;
        display: table;
        margin: 0px;
        padding: 0px;
        border-collapse: collapse;
        position: relative;
        overflow: hidden;
    }

    .catalog-detail-pictures .detail_picture .catalog-detail-images {
            display: table-cell;
            vertical-align: middle;
            margin: 0px;
            padding: 0px;
            text-align: center;
            text-decoration: none;
    }

    .catalog-detail-pictures .detail_picture img {
       width: auto;
        max-width: 390px;
        height: auto;
        max-height: 310px;
        border: none;
        vertical-align: top;
    }

    .more_photo {
        width: 100%;
        float: left;
        margin: 10px 0px 0px 0px;
        padding: 0px 20px;
    }

    .more_photo ul {
       float: left;
        margin: 0px !important;
        padding: 0px !important;
        list-style: none;
    }

    .more_photo ul li {
        width: 86px;
        height: 86px;
        float: left;
        margin: 0px 10px 10px 0px;
        padding: 0px;
        overflow: hidden;
    }

    .more_photo ul li {
        border: 2px solid transparent;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer;
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s;
    }

    .more_photo ul li:hover {
        border: 1px solid #edeef8;
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
    }

    .more_photo ul li a {
       width: 86px;
        height: 86px;
        display: table-cell;
        vertical-align: middle;
        margin: 0px;
        padding: 0px;
        text-align: center;
        text-decoration: none;
    }

    .more_photo ul li a img {
       border: none;
       vertical-align: top;
    }

    .right-column .catalog-detail-preview-text {
        width: 100%;
        float: left;
        margin: 10px 0px 0px 0px;
        padding: 0px 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #8184a1;
    }

    .right-column .article {
        margin: 5px 0px 0px 0px;
        padding: 0px 20px;
        float: left;
    }

    .right-column .product-price-block {
        width: 100%;
        display: table;
        margin: 13px 0px 0px 0px;
        padding-left: 20px;
        float: left;
    }

    .right-column .product-price-block .catalog-detail-item-price-old {
            margin: 3px 0px 0px 0px;
            color: #a0a4bc;
            text-decoration: line-through;
            font-size: 14px;
    }
    .right-column .product-price-block .catalog-detail-item-price-percent {
        color: #9d06d7;
        margin: 3px 0px 0px 0px;
        font-size: 14px;
    }

    .right-column .product-price-block .catalog-detail-item-price {
        font-size: 23px;
        font-weight: 700;
        color: #000;
        margin: 3px 0px 0px 0px;
    }

    .right-column .product-price-block .catalog-detail-item-price .unit {
                font-size: 14px;
                font-weight: 400;
                color: #8184a1;
            }

    .detail .catalog-detail-properties {
        width: 100%;
        float: left;
        margin: 15px 0px 15px 0px;
        padding: 0px 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

    .detail .catalog-detail-properties .h4 {
        width: 100%;
        margin: 0px;
        padding: 0px 0px 6px 0px;
        font-size: 18px;
        font-weight: 600;
        color: #575b71;
    }

    .detail .catalog-detail-property {
        width: 100%;
        float: left;
        margin: 0px 0px 7px 0px;
        padding: 0px;
        border-bottom: 1px dotted #dee0ee;
    }

    .detail .catalog-detail-property .name {
        float: left;
        margin: 0px;
        padding: 0px 3px 0px 0px;
        position: relative;
        top: 5px;
    }

    .detail .catalog-detail-property .val {
        float: right;
        margin: 0px;
        padding: 0px 0px 0px 3px;
        position: relative;
        top: 5px;
    }

  .btn-product {
      padding: 0.65em 1.5em;
      color: #ffffff;
      text-decoration: none;
      background: #9cc218;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1.6;
      outline: 0;
      margin: 20px;
    }

    .btn-product:hover {
      text-decoration: none;
      background: rgb(35, 88, 107);
      cursor: pointer;
    }