.top-menu {
  width: 100%;
  height: 32px;
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  background: rgba(255,255,255,.1);

    ul.store-horizontal {
    float: left;
    margin: 0px 0px 0px 12px;
    padding: 0px;
    list-style: none;

    li {
      float: left;
      margin: 0px 3px 0px 0px;
      padding: 0px;

      a {
        height: 32px;
        display: block;
        margin: 0px;
        padding: 0px 13px;
        font-size: 12px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 32px;
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s;
      }

      a.root-item-selected {
        color: #34383d;
        background: #fff;
      }
    }
    li:hover a,
    li:hover a.root-item-selected {
      color: #fff;
      background: rgba(255,255,255,.3);
    }
  }
}


