{%extends 'main.html'%}
{%load thumbnail%}

{%block content%}
    <div class="row">
        <div class="large-12 columns" id="content-wrap">
            <div class="large-3 columns">
                {% if getCatalog %}
                    {% include 'tags/vertical-nav.html' %}
                {% endif %}
            </div>
            {% block works %}
            <div class="large-9 columns ourworks">
                <div class="large-12 columns">
                    <h2>Наши работы</h2>
                </div>
                <div class="large-12 columns breadcrmbs">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'main' %}"><i class="fi-home"></i></a></li>
                            <li><a href="{% url 'ourworks' %}">Наши работы</a></li>
                            <li class="product-current"><span class="show-for-sr">Current: </span>{{ page_title }}</li>
                        </ul>
                    </nav>
                </div>
                <div class="large-12 columns large-inside">
                    {% for work in works %}
                        <div class="large-4 columns end">
                            <div class="item-work thumbnail">
                                <a href="{{ work.get_absolute_url }}">
                                    {% thumbnail work.image_ourwork.all.0.image "272x272" format="PNG" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ work.name }}">
                                    {% endthumbnail %}
                                    <div class="name-work">{{ work.name }}</div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if allWorks.count > 12 %}
                    <div class="large-12 columns large-inside">
                        <ul class="pagination" role="navigation" aria-label="Pagination">
                            {% if works.has_previous %}
                                <li class="pagination-previous"><a href="?page={{works.previous_page_number}}"><span class="show-for-sr">page</span></a></li>
                            {% endif %}

                            {%for page in works.paginator.page_range%}
                                {%if page == works.number%}
                                    <li class="current"><a href="?page={{page}}">{{page}}</a></li>
                                {%else%}
                                    <li><a href="?page={{page}}">{{page}}</a></li>
                                {%endif%}
                            {%endfor%}

                            {% if works.has_next %}
                                <li class="pagination-next"><a href="?page={{works.next_page_number}}"><span class="show-for-sr">page</span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% endblock %}
        </div>
    </div>
{%endblock%}