{%extends 'ourworks/ourworks.html'%}
{%load thumbnail%}

        {% block works %}
            <div class="large-9 columns ourworks">
                <div class="large-12 columns">
                    <h2>{{ work.name }}</h2>
                    <hr>
                </div>
                <div class="large-12 columns breadcrmbs">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'main' %}"><i class="fi-home"></i></a></li>
                            <li class="product-current"><span class="show-for-sr">Current: </span>{{ work.name }}</li>
                        </ul>
                    </nav>
                </div>
                <div class="large-12 columns large-inside">
                    <div class="large-5 columns">
                        <div class="orbit" role="region" data-orbit {% if work.image_ourwork.all.count < 2 %}data-auto-play="false"{% endif %}>
                            {% if work.image_ourwork.all.count > 1 %}
                                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                            {% endif %}
                            <ul class="orbit-container">
                                {% if work.image_ourwork.all.count > 1 %}
                                    {% for workImage in work.image_ourwork.all %}
                                        <li class="orbit-slide">
                                            {% thumbnail workImage.image "300x300" crop="center" as im %}
                                                <img class="orbit-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                            {% endthumbnail %}
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="orbit-slide">
                                        {% thumbnail work.image_ourwork.all.0.image "300x300" crop="center" as im %}
                                            <img class="orbit-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="large-7 columns flat-content">
                        {{work.description|safe}}
                    </div>
                </div>
            </div>
        {% endblock %}
