.wrap3d {
  height: 205px;
  position: relative; }
  .wrap3d .compo3d {
    background: url(../image/3dcompo_objects.png);
    height: 207px;
    margin-top: 15px; }
    .wrap3d .compo3d #light_profil {
      background: url(../image/light_profil.png);
      width: 321px;
      height: 192px;
      position: absolute;
      top: 2px;
      left: 90px;
      opacity: 0;
      -webkit-transition: all 0.55s ease 0s;
      -moz-transition: all 0.55s ease 0s;
      -o-transition: all 0.55s ease 0s;
      transition: all 0.55s ease 0s; }
    .wrap3d .compo3d #light_projectors {
      background: url(../image/light_projectors-3.png);
      width: 308px;
      height: 115px;
      position: absolute;
      top: -14px;
      left: 379px;
      opacity: 0;
      -webkit-transition: all 0.55s ease 0s;
      -moz-transition: all 0.55s ease 0s;
      -o-transition: all 0.55s ease 0s;
      transition: all 0.55s ease 0s; }
    .wrap3d .compo3d #light_lamps {
      background: url(../image/light_lamps.png);
      width: 159px;
      height: 88px;
      position: absolute;
      top: 72px;
      left: 391px;
      opacity: 0;
      -webkit-transition: all 0.55s ease 0s;
      -moz-transition: all 0.55s ease 0s;
      -o-transition: all 0.55s ease 0s;
      transition: all 0.55s ease 0s; }
    .wrap3d .compo3d #light_rgb {
      width: 89px;
      height: 46px;
      position: absolute;
      top: 102px;
      background: url(../image/light_rgb.jpg);
      left: 560px;
      opacity: 0;
      -webkit-transition: all 0.55s ease 0s;
      -moz-transition: all 0.55s ease 0s;
      -o-transition: all 0.55s ease 0s;
      transition: all 0.55s ease 0s; }
    .wrap3d .compo3d #light_linear {
      width: 177px;
      height: 28px;
      position: absolute;
      top: 18px;
      left: 700px;
      background: url(../image/light_linear.jpg);
      opacity: 0;
      -webkit-transition: all 0.55s ease 0s;
      -moz-transition: all 0.55s ease 0s;
      -o-transition: all 0.55s ease 0s;
      transition: all 0.55s ease 0s; }
    .wrap3d .compo3d #light_pointers {
      width: 146px;
      height: 86px;
      position: absolute;
      top: 77px;
      left: 685px;
      background: url(../image/light_pointers.jpg);
      opacity: 0;
      -webkit-transition: all 0.55s ease 0s;
      -moz-transition: all 0.55s ease 0s;
      -o-transition: all 0.55s ease 0s;
      transition: all 0.55s ease 0s; }
    .wrap3d .compo3d #light_ribbon {
      width: 301px;
      height: 160px;
      position: absolute;
      top: 30px;
      left: 828px;
      background: url(../image/light_ribbon.gif);
      opacity: 0;
      -webkit-transition: all 0.55s ease 0s;
      -moz-transition: all 0.55s ease 0s;
      -o-transition: all 0.55s ease 0s;
      transition: all 0.55s ease 0s; }
    .wrap3d .compo3d #light_profil:hover, .wrap3d .compo3d #light_ribbon:hover,
    .wrap3d .compo3d #light_pointers:hover, .wrap3d .compo3d #light_linear:hover,
    .wrap3d .compo3d #light_rgb:hover, .wrap3d .compo3d #light_lamps:hover,
    .wrap3d .compo3d #light_projectors:hover {
      opacity: 1; }

.blog-link {
  float: right; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #8184a1;
  text-align: left;
  line-height: 1.3;
  background: #ffffff;
  outline: none; }

/*main*/
.large-inside {
  padding: 0; }

h1 {
  color: #6c6d71;
  margin-top: 0; }

/*btn*/
.btn_buy {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #402a1d;
  text-align: center;
  text-transform: uppercase;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #fde037;
  -webkit-transition: all 0.15s ease 0s;
  -moz-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s; }

.btn_buy.apuo {
  color: #8184a1;
  text-decoration: none;
  line-height: 27px;
  border: 1px solid #dee0ee;
  background: none; }

.btn_buy.apuo:hover {
  border: 1px solid #575b71; }

.btn_buy:hover {
  color: #fff;
  text-decoration: none;
  background: #575b71;
  cursor: pointer; }

.main-section {
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  position: relative;
  padding-bottom: 275px; }

/*callModal*/
.reveal {
  padding: 0 1rem;
  border: none;
  background-color: transparent;
  outline: none;
  overflow-y: initial;
  height: 192px; }

#callModal .h1 {
  width: 100%;
  margin: 0px;
  padding: 14px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: left;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  -khtml-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  background: #a0a4bc; }

#callModal .pop-up {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
  background: #f4f5fd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }

.close-button {
  position: absolute;
  right: 0.5rem;
  top: -0.6rem;
  border-radius: 12px;
  background: #575b71;
  width: 24px;
  height: 24px;
  line-height: 0;
  outline: none; }

.callback_form {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row-form {
  width: 100%;
  float: left;
  display: table;
  margin: 0px 0px 5px 0px;
  padding: 0px; }

.row-form .span1 {
  width: 125px;
  display: table-cell;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #575b71;
  text-align: left; }

.row-form .span2 {
  width: auto;
  display: table-cell;
  margin: 0px;
  padding: 0px;
  text-align: left; }

.row-form .span2 input[type="text"] {
  width: 100%;
  height: 30px;
  margin: 0px;
  padding: 0px 9px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #8184a1;
  text-align: left;
  border: 1px solid #dee0ee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #fff; }

#callModal div.submit button {
  width: 153px;
  height: 31px;
  float: right;
  margin: 0px;
  padding: 0px; }

#callModal .btn_buy.popdef {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #9cc218;
  outline: none; }

#callModal .btn_buy:hover {
  color: #fff;
  text-decoration: none;
  background: #575b71;
  cursor: pointer; }

.off-canvas-wrapper {
  overflow-x: visible; }

.flat-content p {
  line-height: 1.2; }

.orbit-previous, .orbit-next {
  outline: none; }

.main-content-field {
  padding: 15px 0 5px; }

.catalog-section {
  width: 100%;
  margin: 0px 0px 8px 0px;
  padding: 0px;
  display: inline-block; }
  .catalog-section .catalog-section-title {
    width: 100%;
    padding: 0px;
    position: relative;
    margin: 0px 0px 4px 0px; }
    .catalog-section .catalog-section-title p {
      display: block;
      margin: 0px;
      padding: 8px 38px 8px 12px;
      font-size: 16px;
      font-weight: 600;
      color: #575b71;
      border: 2px solid #edeef8;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      border-radius: 3px;
      background: #edeef8; }
    .catalog-section .catalog-section-title .showchild {
      width: 38px;
      height: 100%;
      position: absolute;
      right: 0px;
      top: 0px;
      margin: 0px;
      padding: 0px;
      cursor: pointer;
      text-align: center; }
      .catalog-section .catalog-section-title .showchild i {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 50%;
        margin: -9px 0px 0px 0px;
        padding: 0px;
        font-size: 18px;
        color: #dee0ee;
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s; }
  .catalog-section .catalog-section-childs {
    display: block;
    visibility: visible;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    -o-transition: all 0.35s linear;
    transition: all 0.35s linear; }
    .catalog-section .catalog-section-childs .catalog-section-child {
      margin: 0px 0px 2px 0px;
      padding: 0 1px; }
      .catalog-section .catalog-section-childs .catalog-section-child a {
        height: 58px;
        display: block;
        margin: 0px;
        padding: 0px;
        text-decoration: none;
        border: 1px solid #dee0ee;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s; }
        .catalog-section .catalog-section-childs .catalog-section-child a .child {
          border: 1px solid transparent;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          -khtml-border-radius: 4px;
          border-radius: 4px;
          -webkit-transition: all 0.15s ease 0s;
          -moz-transition: all 0.15s ease 0s;
          -o-transition: all 0.15s ease 0s;
          transition: all 0.15s ease 0s; }
          .catalog-section .catalog-section-childs .catalog-section-child a .child .image {
            width: 66px;
            height: 56px;
            display: table-cell;
            vertical-align: middle;
            text-align: center; }
            .catalog-section .catalog-section-childs .catalog-section-child a .child .image img {
              border: none; }
          .catalog-section .catalog-section-childs .catalog-section-child a .child .text {
            height: 56px;
            font-size: 12px;
            line-height: 1;
            display: table-cell;
            vertical-align: middle;
            padding: 0px 5px;
            color: #575b71;
            text-decoration: underline;
            -webkit-transition: all 0.15s ease 0s;
            -moz-transition: all 0.15s ease 0s;
            -o-transition: all 0.15s ease 0s;
            transition: all 0.15s ease 0s; }
      .catalog-section .catalog-section-childs .catalog-section-child a:hover {
        border: 1px solid #edeef8;
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36); }
      .catalog-section .catalog-section-childs .catalog-section-child a:hover .child .text {
        text-decoration: none; }
  .catalog-section .visuallyhidden {
    opacity: 0; }
  .catalog-section .catalog-section-childs.hide-childs {
    display: none;
    visibility: hidden; }

.catalog-section .catalog-section-title .showchild .fi-minus,
.catalog-section .catalog-section-title.active .showchild .fi-plus {
  display: none;
  visibility: hidden; }

.catalog-section .catalog-section-title .showchild .fi-plus {
  color: rgba(0, 26, 163, 0.4); }

.catalog-section .catalog-section-title.active .showchild .fi-minus,
.catalog-section .catalog-section-title .showchild .fi-plus {
  display: block;
  visibility: visible; }

.catalog-section .catalog-section-title .showchild .fi-minus:hover,
.catalog-section .catalog-section-title.active .showchild .fi-plus:hover,
.catalog-section .catalog-section-title.active .showchild .fi-minus:hover,
.catalog-section .catalog-section-title .showchild .fi-plus:hover {
  color: rgba(0, 26, 163, 0.5); }

.certificate h2 {
  text-transform: uppercase;
  color: #8184a1; }

.certificate .thumbnail:hover {
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5); }

/*footer*/
.footer-section {
  width: 100%;
  height: 253px;
  background: #edeef8;
  position: absolute;
  bottom: 0px; }
  .footer-section .footer-logo {
    width: 268px;
    height: 90px;
    margin: 20px 0 15px; }
    .footer-section .footer-logo a {
      width: 268px;
      height: 136px;
      background: url(../image/vlad_logo.png) no-repeat;
      float: left;
      background-size: cover;
      margin-bottom: 10px; }
  .footer-section .address {
    font-size: 11px;
    width: 278px;
    float: left; }
  .footer-section .date-site {
    margin-bottom: 8px;
    font-size: 13px;
    float: left; }
  .footer-section .contacts-two {
    float: right;
    margin: 60px 0 0px; }
    .footer-section .contacts-two .contacts-footer {
      margin-bottom: 8px;
      font-size: 15px;
      line-height: 19px;
      float: right; }
  .footer-section .contacts-btn {
    margin: 10px 0; }
  .footer-section .copy {
    font-size: 10px;
    margin-top: 15px;
    padding-bottom: 10px;
    text-align: center; }
  .footer-section .btn-footer {
    float: right;
    padding: 0.45em 1em;
    color: #ffffff;
    text-decoration: none;
    background: #2f7189;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.6;
    outline: 0; }
  .footer-section .btn-footer:hover {
    text-decoration: none;
    background: #23586b;
    cursor: pointer; }

/*header*/
#header {
  height: 450px;
  background: url(../image/glow.jpg) center top no-repeat #0f354a;
  width: 100%;
  position: relative; }
  #header #header-top {
    border: none;
    margin: 0;
    padding: 50px 0 10px; }
    #header #header-top .logo {
      height: 136px;
      background: url(../image/vlad_logo.png) no-repeat;
      display: block;
      background-size: cover; }
    #header #header-top .phone {
      font-family: Verdana;
      font-size: 20px;
      color: #ffffff;
      position: relative;
      float: right;
      padding: 5px 0; }
      #header #header-top .phone span {
        color: #8184a1; }
    #header #header-top .phone:before {
      content: url(../image/phone_comp.png);
      position: absolute;
      left: -53px;
      top: 3px; }
    #header #header-top p {
      color: #ffffff;
      line-height: 1.2; }
    #header #header-top p.time {
      width: 100%;
      display: table;
      margin: 0px 0px 10px 0px;
      font-size: 12px;
      line-height: 1.6; }
      #header #header-top p.time i.fi-clock {
        font-size: 24px;
        position: relative;
        top: 5px;
        left: -5px; }
    #header #header-top .btn-header {
      float: right;
      width: 80%;
      padding: 0.45em 0;
      color: #ffffff;
      text-decoration: none;
      background: rgba(240, 240, 240, 0.3);
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1.6; }
    #header #header-top .btn-header:hover {
      text-decoration: none;
      background: rgba(240, 240, 240, 0.4);
      cursor: pointer; }

#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
  /* 50 */
  box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
  /* 50 */ }

/* ACTIVITY INDICATION */
#imagelightbox-loading {
  border-radius: 50%;
  width: 2.5em;
  /* 40 */
  height: 2.5em;
  /* 40 */
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 0.625em;
  /* 10 */
  margin: -1.25em 0 0 -1.25em;
  /* 20 */
  -webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */ }
  #imagelightbox-loading div {
    border-radius: 50%;
    width: 1.25em;
    /* 20 */
    height: 1.25em;
    /* 20 */
    background-color: #fff;
    -webkit-animation: imagelightbox-loading .5s ease infinite;
    animation: imagelightbox-loading .5s ease infinite; }

@-webkit-keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -webkit-transform: scale(0.75); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1); }
  to {
    opacity: .5;
    -webkit-transform: scale(0.75); } }

@keyframes imagelightbox-loading {
  from {
    opacity: .5;
    transform: scale(0.75); }
  50% {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: .5;
    transform: scale(0.75); } }

#imagelightbox-loading {
  -webkit-animation: fade-in .25s linear;
  animation: fade-in .25s linear; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#content-wrap {
  padding-top: 20px; }
  #content-wrap .title-catalog {
    height: 45px;
    font-size: 18px;
    background: #edeef8;
    color: #575b71;
    padding: 10px;
    border-radius: 3px 3px 0 0; }
  #content-wrap .dropdown.menu.vertical > li.opens-right > .is-dropdown-submenu {
    z-index: 4; }
  #content-wrap .dropdown.menu.vertical > li.opens-right > a:after {
    border-color: transparent transparent transparent #575b71; }
  #content-wrap .dropdown.menu.vertical > li.opens-right > a.non-str:after {
    content: none; }
  #content-wrap .menu li a {
    background: rgba(202, 202, 202, 0.1);
    color: #575b71;
    outline: 0 !important; }
  #content-wrap .menu li a:hover {
    background: #dfe0eb; }
  #content-wrap .main-vertical-sub a {
    width: 330px; }
  #content-wrap .main-vertical-sub a,
  #content-wrap .main-vertical a {
    padding: 5px 1.6rem 5px 0.5rem !important; }
  #content-wrap .main-vertical-sub a .child .image,
  #content-wrap .main-vertical a .child .image {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  #content-wrap .main-vertical a .child .image {
    width: 50px; }
  #content-wrap .main-vertical-sub a .child .image img,
  #content-wrap .main-vertical a .child .image img {
    border: none; }
  #content-wrap .main-vertical-sub a .child .text,
  #content-wrap .main-vertical a .child .text {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 5px;
    color: #575b71;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s; }

#loginModal .tabs {
  background: transparent; }

#loginModal #login-tabs, #loginModal .tabs-content {
  border: none; }
  #loginModal #login-tabs .tabs-title, #loginModal .tabs-content .tabs-title {
    width: 100%; }
  #loginModal #login-tabs .tabs-title > a, #loginModal .tabs-content .tabs-title > a {
    font-size: 16px;
    font-weight: 600;
    background: #a0a4bc;
    color: #ffffff; }
  #loginModal #login-tabs .tabs-title > a:hover, #loginModal .tabs-content .tabs-title > a:hover {
    background: rgba(160, 164, 188, 0.72); }
  #loginModal #login-tabs .is-active a, #loginModal .tabs-content .is-active a {
    color: #868686;
    background: #f4f5fd;
    cursor: default; }
  #loginModal #login-tabs .is-active a:hover, #loginModal .tabs-content .is-active a:hover {
    background: #f4f5fd; }
  #loginModal #login-tabs #panel1-label, #loginModal .tabs-content #panel1-label {
    -moz-border-radius: 3px 0 0 0;
    -webkit-border-radius: 3px 0 0 0;
    -khtml-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0; }
  #loginModal #login-tabs #panel2-label, #loginModal .tabs-content #panel2-label {
    -moz-border-radius: 0 3px 0 0;
    -webkit-border-radius: 0 3px 0 0;
    -khtml-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0; }

#loginModal .pop-up {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
  background: #f4f5fd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }

#loginModal .tabs-content {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -khtml-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px; }
  #loginModal .tabs-content .tabs-panel {
    background: #f4f5fd;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -khtml-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px; }

#loginModal .btn_buy.popdef {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #9cc218;
  width: 100%;
  padding: 0.6rem 1.1rem;
  outline: none;
  margin-top: 1rem; }

#loginModal .btn_buy:hover {
  color: #fff;
  text-decoration: none;
  background: #575b71;
  cursor: pointer; }

#loginModal #login-form label, #loginModal #registration-form label {
  margin-top: 1rem; }

#loginModal #login-form input, #loginModal #registration-form input {
  margin-bottom: 0; }

#loginModal #login-form #span-hidden-pw-login,
#loginModal #login-form #span-hidden-em-reg,
#loginModal #login-form #span-hidden-pw-reg, #loginModal #registration-form #span-hidden-pw-login,
#loginModal #registration-form #span-hidden-em-reg,
#loginModal #registration-form #span-hidden-pw-reg {
  width: 100%;
  font-size: .7rem;
  text-align: center; }

.ourworks h2 {
  text-transform: uppercase;
  color: #8184a1; }

.ourworks .thumbnail:hover {
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5); }

.ourworks .item-work {
  position: relative;
  overflow: hidden;
  text-align: center; }
  .ourworks .item-work .name-work {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    padding: 28px 0 0;
    height: 60px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    top: -70px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    font-size: 15px; }

.ourworks .item-work:hover .name-work {
  top: 0; }

.pagination-next a:after,
.pagination-previous a:after,
.pagination-next.disabled:after,
.pagination-previous.disabled:after {
  margin: 0; }

.pagination li {
  background: #adadad; }
  .pagination li a {
    color: #fefefe;
    -webkit-transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
    -moz-transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
    -o-transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
    transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s; }
  .pagination li a:hover {
    color: #000000; }

.pagination li.current {
  padding: 0;
  color: #fefefe;
  cursor: default;
  background-color: #8184a1; }

.catalog-item {
  margin: 0px 0px 2px 0px;
  padding: 3px 2px; }

.catalog-item .catalog-item-info {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 18px 13px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dee0ee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.15s ease 0s;
  -moz-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s; }

.catalog-item .catalog-item-info:hover {
  border: 1px solid #edeef8;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36); }

.catalog-item .catalog-item-info .item-image-cont {
  width: 100%;
  margin: 10px 0px 0px 0px;
  padding: 0px; }

.catalog-item .catalog-item-info .item-image-cont .item-image {
  width: 100%;
  height: 178px;
  display: table;
  margin: 0px;
  padding: 0px;
  position: relative; }

.catalog-item .item-image a {
  display: table-cell;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none; }

.catalog-item .item-image a img {
  width: auto;
  height: auto;
  max-height: 178px;
  border: none;
  vertical-align: top; }

.catalog-item .item-all-title {
  width: 100%;
  height: 33px;
  margin: 12px 0px 0px 0px;
  padding: 0px;
  overflow: hidden; }

.catalog-item .item-all-title a.item-title {
  display: block;
  margin: 0px;
  padding: 0px;
  color: #575b71;
  text-decoration: underline; }

.catalog-item .item-all-title a.item-title:hover {
  text-decoration: none; }

.catalog-item .article_rating {
  width: 100%;
  margin: 8px 0px 0px 0px;
  padding: 0px; }

.catalog-item .article {
  width: 128px;
  float: left;
  margin: 2px 0px 0px 0px;
  padding: 0px;
  overflow: hidden;
  font-size: 12px;
  color: #a0a4bc;
  white-space: nowrap;
  text-overflow: ellipsis; }

.catalog-item .item-price-cont {
  height: 72px;
  margin: 0px;
  padding: 0px;
  position: relative; }

.catalog-item .item-price {
  position: absolute;
  left: 0px;
  bottom: -4px;
  margin: 0px;
  padding: 0px; }

.catalog-item .catalog-item-price-old,
.catalog-item .catalog-item-price-percent,
.catalog-item .catalog-item-price,
.right-column .product-price-block .catalog-detail-item-price-old,
.right-column .product-price-block .catalog-detail-item-price-percent,
.right-column .product-price-block .catalog-detail-item-price {
  display: block;
  margin: 0px;
  padding: 0px; }

.catalog-item .catalog-item-price-old {
  color: #a0a4bc;
  text-decoration: line-through; }

.catalog-item .catalog-item-price-percent {
  color: #9d06d7; }

.catalog-item .catalog-item-price {
  font-size: 24px;
  font-weight: 700;
  color: #000; }

.catalog-item .catalog-item-price .unit {
  font-size: 12px;
  font-weight: 400;
  color: #8184a1; }

/*breadcrumbs*/
.breadcrumbs li:not(:last-child):after {
  top: -1px; }

.breadcrumbs a {
  color: #575b71;
  font-size: 12px; }

.breadcrumbs .fi-home {
  font-size: 16px; }

.breadcrumbs .product-current {
  color: rgba(117, 123, 135, 0.82); }

/*product*/
.catalog-detail-pictures,
.catalog-detail-pictures .catalog-detail-picture {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px; }

.catalog-detail-pictures .detail_picture {
  width: 100%;
  height: 310px;
  display: table;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  position: relative;
  overflow: hidden; }

.catalog-detail-pictures .detail_picture .catalog-detail-images {
  display: table-cell;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none; }

.catalog-detail-pictures .detail_picture img {
  width: auto;
  max-width: 390px;
  height: auto;
  max-height: 310px;
  border: none;
  vertical-align: top; }

.more_photo {
  width: 100%;
  float: left;
  margin: 10px 0px 0px 0px;
  padding: 0px 20px; }

.more_photo ul {
  float: left;
  margin: 0px !important;
  padding: 0px !important;
  list-style: none; }

.more_photo ul li {
  width: 86px;
  height: 86px;
  float: left;
  margin: 0px 10px 10px 0px;
  padding: 0px;
  overflow: hidden; }

.more_photo ul li {
  border: 2px solid transparent;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease 0s;
  -moz-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s; }

.more_photo ul li:hover {
  border: 1px solid #edeef8;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36); }

.more_photo ul li a {
  width: 86px;
  height: 86px;
  display: table-cell;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none; }

.more_photo ul li a img {
  border: none;
  vertical-align: top; }

.right-column .catalog-detail-preview-text {
  width: 100%;
  float: left;
  margin: 10px 0px 0px 0px;
  padding: 0px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #8184a1; }

.right-column .article {
  margin: 5px 0px 0px 0px;
  padding: 0px 20px;
  float: left; }

.right-column .product-price-block {
  width: 100%;
  display: table;
  margin: 13px 0px 0px 0px;
  padding-left: 20px;
  float: left; }

.right-column .product-price-block .catalog-detail-item-price-old {
  margin: 3px 0px 0px 0px;
  color: #a0a4bc;
  text-decoration: line-through;
  font-size: 14px; }

.right-column .product-price-block .catalog-detail-item-price-percent {
  color: #9d06d7;
  margin: 3px 0px 0px 0px;
  font-size: 14px; }

.right-column .product-price-block .catalog-detail-item-price {
  font-size: 23px;
  font-weight: 700;
  color: #000;
  margin: 3px 0px 0px 0px; }

.right-column .product-price-block .catalog-detail-item-price .unit {
  font-size: 14px;
  font-weight: 400;
  color: #8184a1; }

.detail .catalog-detail-properties {
  width: 100%;
  float: left;
  margin: 15px 0px 15px 0px;
  padding: 0px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.detail .catalog-detail-properties .h4 {
  width: 100%;
  margin: 0px;
  padding: 0px 0px 6px 0px;
  font-size: 18px;
  font-weight: 600;
  color: #575b71; }

.detail .catalog-detail-property {
  width: 100%;
  float: left;
  margin: 0px 0px 7px 0px;
  padding: 0px;
  border-bottom: 1px dotted #dee0ee; }

.detail .catalog-detail-property .name {
  float: left;
  margin: 0px;
  padding: 0px 3px 0px 0px;
  position: relative;
  top: 5px; }

.detail .catalog-detail-property .val {
  float: right;
  margin: 0px;
  padding: 0px 0px 0px 3px;
  position: relative;
  top: 5px; }

.btn-product {
  padding: 0.65em 1.5em;
  color: #ffffff;
  text-decoration: none;
  background: #9cc218;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.6;
  outline: 0;
  margin: 20px; }

.btn-product:hover {
  text-decoration: none;
  background: #23586b;
  cursor: pointer; }

.top-menu {
  width: 100%;
  height: 32px;
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  background: rgba(255, 255, 255, 0.1); }
  .top-menu ul.store-horizontal {
    float: left;
    margin: 0px 0px 0px 12px;
    padding: 0px;
    list-style: none; }
    .top-menu ul.store-horizontal li {
      float: left;
      margin: 0px 3px 0px 0px;
      padding: 0px; }
      .top-menu ul.store-horizontal li a {
        height: 32px;
        display: block;
        margin: 0px;
        padding: 0px 13px;
        font-size: 12px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 32px;
        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
        -o-transition: all 0.15s ease 0s;
        transition: all 0.15s ease 0s; }
      .top-menu ul.store-horizontal li a.root-item-selected {
        color: #34383d;
        background: #fff; }
    .top-menu ul.store-horizontal li:hover a,
    .top-menu ul.store-horizontal li:hover a.root-item-selected {
      color: #fff;
      background: rgba(255, 255, 255, 0.3); }
