{%extends 'main.html'%}
{%load thumbnail%}

{%block content%}
    <div class="row">
        <div class="large-12 columns" id="content-wrap">
            <div class="large-3 columns">
                {% if getCatalog %}
                    {% include 'tags/vertical-nav.html' %}
                {% endif %}
            </div>
            {% block rows %}
            <div class="large-9 columns ourworks">
                <div class="large-12 columns">
                    <h2>Наш блог</h2>
                </div>
                <div class="large-12 columns breadcrmbs">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'main' %}"><i class="fi-home"></i></a></li>
                            <li class="product-current"><span class="show-for-sr">Current: </span>{{ page_title }}</li>
                        </ul>
                    </nav>
                </div>
                {% for row in blog %}
                    <div class="large-12 columns">
                        {{ row.title_row|safe }}
                    </div>
                    <div class="large-12 columns">
                        <a class="blog-link" href="{{ row.get_absolute_url }}" alt="{{ row.name }}">Подробнее...</a>
                        <hr>
                    </div>
                {% endfor %}
                {% if blog.count > 12 %}
                    <div class="large-12 columns large-inside">
                        <ul class="pagination" role="navigation" aria-label="Pagination">
                            {% if rows.has_previous %}
                                <li class="pagination-previous"><a href="?page={{rows.previous_page_number}}"><span class="show-for-sr">page</span></a></li>
                            {% endif %}

                            {%for page in rows.paginator.page_range%}
                                {%if page == works.number%}
                                    <li class="current"><a href="?page={{page}}">{{page}}</a></li>
                                {%else%}
                                    <li><a href="?page={{page}}">{{page}}</a></li>
                                {%endif%}
                            {%endfor%}

                            {% if rows.has_next %}
                                <li class="pagination-next"><a href="?page={{rows.next_page_number}}"><span class="show-for-sr">page</span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% endblock %}
        </div>
    </div>
{%endblock%}