{%extends 'blog/blog.html'%}
{%load thumbnail%}

        {% block rows %}
            <div class="large-9 columns">
            <div class="large-12 columns breadcrmbs">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'main' %}"><i class="fi-home"></i></a></li>
                            <li><a href="{% url 'blog' %}">Наш блог</a></li>
                            <li class="product-current"><span class="show-for-sr">Current: </span>{{ row_blog.name }}</li>
                        </ul>
                    </nav>
                </div>
                <div class="large-12 columns">
                    {{row_blog.content|safe}}
                </div>
            </div>
        {% endblock %}
