{%extends 'main.html'%}
{%load thumbnail%}

{%block content%}
    <div class="row">
        <div class="large-12 columns" id="content-wrap">
            <div class="large-3 columns">
                {% if getCatalog %}
                    {% include 'tags/vertical-nav.html' %}
                {% endif %}
            </div>
            {% if cert %}
            <div class="large-9 columns">
                <div class="large-12 columns">
                    <h2>{{cert.name}}</h2>
                </div>
                <div class="large-12 columns breadcrmbs">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'main' %}"><i class="fi-home"></i></a></li>
                            <li class="product-current"><span class="show-for-sr">Current: </span>{{ cert.name }}</li>
                        </ul>
                    </nav>
                </div>
                <div class="large-12 columns large-inside certificate">
                    {% for cetificate in cert.image_certificate.all %}
                        <div class="large-3 columns end">
                            <div class="cert-image thumbnail">
                                <a href="{{ cetificate.image.url }}" data-imagelightbox="cert">
                                    {% thumbnail cetificate.image "208x308" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{%endblock%}