@charset "UTF-8";
body {
  background-color: #f1f1f1;
  min-width: 1200px;
  text-rendering: optimizeLegibility; }

.large-inside {
  padding: 0; }

.strong {
  font-weight: 700; }

.custom-button {
  padding: 0 1rem;
  line-height: 55px;
  height: 55px;
  border: none;
  outline: none;
  font-weight: 700;
  text-align: center;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
  font-size: .8em;
  opacity: 1;
  background: #9f38a1;
  color: #fff;
  margin: 0;
  width: 100%; }

.custom-button:hover {
  background-color: #672468; }

.footer {
  position: relative;
  background-color: #334961;
  color: #fff;
  padding: 3.6rem 0; }
  .footer .svg-logo-footer {
    width: 121px;
    height: 49px; }
  .footer .title-info {
    opacity: .9;
    letter-spacing: -.005rem;
    font-size: .85em;
    font-weight: 500;
    text-transform: uppercase; }
  .footer .adress, .footer .contacts {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: .95em;
    font-weight: 500;
    color: #fff;
    line-height: 1.2; }
  .footer .contacts .contact-link {
    text-decoration: none;
    outline: none;
    color: #fff; }
  .footer .contacts .contact-link:hover, .footer .contacts .contact-link:focus {
    border-bottom: 1px solid #fff; }
  .footer .footer-menu-link {
    -o-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
    text-align: right;
    color: #ddd;
    cursor: pointer;
    margin-bottom: .65em; }
    .footer .footer-menu-link a {
      -o-transition: all .15s;
      -moz-transition: all .15s;
      transition: all .15s;
      color: #fff;
      text-decoration: none;
      position: relative;
      padding: 7px 5px;
      border-radius: 3px;
      font-weight: 500;
      line-height: 1.2;
      display: initial; }
    .footer .footer-menu-link a:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: #fff; }
  .footer .social {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem; }
    .footer .social .footer-menu-link a {
      padding: 9px 5px;
      margin-right: 1rem; }
    .footer .social .icon-footer {
      overflow: hidden;
      background-size: cover;
      display: inline-block;
      position: relative;
      fill: currentColor;
      vertical-align: text-top;
      height: 24px;
      width: 24px;
      top: -3px; }
    .footer .social .social-media-text {
      font-size: 1.2em; }
  .footer h6 {
    font-weight: 500;
    color: #fff;
    font-size: 0.8em;
    line-height: 1.2;
    margin: 0 0 .6em 0; }

.top-nav-wrapper {
  width: 91.66667%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 1.8rem; }
  .top-nav-wrapper .top-nav {
    font-weight: 500;
    display: inline-block;
    background-color: #ffffff; }
    .top-nav-wrapper .top-nav .menu-item {
      height: 100%;
      position: relative;
      border-radius: 3px;
      display: inline-block;
      color: #000;
      text-decoration: none;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      /*margin-left: -3px;*/
      height: 44px;
      line-height: 44px;
      -o-transition: background .15s,color .15s;
      -moz-transition: background .15s,color .15s;
      transition: background .15s,color .15s;
      cursor: default;
      padding: 0 .8em;
      cursor: pointer; }
    .top-nav-wrapper .top-nav .menu-item:hover {
      background: #e0e0e0; }
    .top-nav-wrapper .top-nav .menu-item.contacts {
      color: #9f38a1; }
    .top-nav-wrapper .top-nav .menu-item.top-nav-button {
      border: 2px solid #ddd;
      color: #484848;
      top: 1px;
      line-height: 42px;
      outline: none; }
    .top-nav-wrapper .top-nav .menu-item.top-nav-button:hover {
      background: #8bc343;
      color: #fff;
      border-color: #8bc343; }

header {
  height: auto;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #eee;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5; }
  header .container-header {
    width: 100%;
    padding: .6rem 1.2rem;
    position: relative;
    min-height: 78px;
    display: table; }
    header .container-header .logo {
      display: table-cell;
      vertical-align: middle;
      width: 8.33333%; }
      header .container-header .logo a {
        color: inherit;
        text-decoration: none;
        outline: 0;
        background-color: transparent;
        touch-action: manipulation; }
        header .container-header .logo a .svg-logo {
          width: 130px;
          height: 53px;
          display: inline-block;
          position: relative;
          top: 4px; }

.buyers {
  padding: 3.6em 0;
  background: transparent; }
  .buyers .flag {
    display: table;
    position: relative;
    margin-bottom: 2rem; }
  .buyers .flag-image {
    padding-right: 1em;
    display: table-cell;
    vertical-align: middle; }
    .buyers .flag-image .icon-buyers-svg {
      height: 66px;
      width: 66px;
      margin: 0; }
  .buyers .flag-content {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.6em;
    line-height: 1.2; }
  .buyers .buyers-guide-box {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    padding: 1.8rem 8rem 1.8rem 1.8rem;
    border-radius: 3px;
    border: none;
    background: #fff;
    overflow: hidden;
    position: relative; }
    .buyers .buyers-guide-box .box-icon {
      position: absolute;
      right: 0;
      height: 50%;
      top: 50%;
      -webkit-transform: translate(30%, -50%);
      -moz-transform: translate(30%, -50%);
      -ms-transform: translate(30%, -50%);
      -o-transform: translate(30%, -50%);
      transform: translate(30%, -50%);
      fill: rgba(249, 196, 68, 0.5); }
    .buyers .buyers-guide-box .list-divided {
      list-style-type: none;
      text-align: left; }
      .buyers .buyers-guide-box .list-divided li {
        padding: 10px 0;
        border-bottom: 1px solid #e8e8e8; }
        .buyers .buyers-guide-box .list-divided li .link-arrow-right {
          font-size: 1.1em;
          font-weight: 500;
          line-height: 1.3em;
          color: #404040;
          text-decoration: none;
          outline: 0; }
        .buyers .buyers-guide-box .list-divided li .link-arrow-right:after {
          content: ' →'; }
        .buyers .buyers-guide-box .list-divided li .link-arrow-right:hover {
          color: #8bc343; }
      .buyers .buyers-guide-box .list-divided li:last-child {
        border: none;
        padding-bottom: 0; }

.clients {
  padding: 3.6em 0;
  background: #fff;
  border-bottom: 1px solid #e8e8e8; }
  .clients .section-title {
    font-size: 2.6em;
    margin: 0 0 1.2rem 0;
    color: #404040;
    text-align: center;
    font-weight: 500;
    letter-spacing: -.005rem;
    line-height: 1.2;
    text-transform: none; }
  .clients hr.divider-short-center {
    width: 100px;
    margin: 1.8rem auto;
    display: block;
    height: 0.5px;
    background-color: #ddd;
    padding: 0; }
  .clients .subtitle {
    color: #9d9d9d;
    font-weight: 500;
    font-size: 1.6em;
    letter-spacing: -.005rem; }
  .clients .img-client {
    margin-left: auto;
    margin-right: auto;
    border-radius: 500px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem; }
  .clients .img-client > img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .clients h6.strong {
    line-height: 1; }
  .clients .text-highlighted {
    color: #8bc343; }
  .clients .client-button {
    margin-top: 1.8rem; }
    .clients .client-button .button-huge {
      font-size: .9rem;
      height: 55px;
      line-height: 55px;
      padding: 0 40.72px;
      position: relative;
      border: none;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-transform: uppercase;
      background-color: #8bc343;
      color: #fff;
      margin-bottom: 0; }
    .clients .client-button .button-huge:hover {
      background-color: #638d2d; }

.rating {
  padding: 3.6em 0;
  background: #fff;
  border-bottom: 1px solid #e8e8e8; }
  .rating .section-title {
    font-size: 2.6em;
    margin: 0 0 1.2rem 0;
    color: #404040;
    text-align: center;
    font-weight: 500;
    letter-spacing: -.005rem;
    line-height: 1.2;
    text-transform: none; }
  .rating hr.divider-short-center {
    width: 100px;
    margin: 1.8rem auto;
    display: block;
    height: 0.5px;
    background-color: #ddd;
    padding: 0; }
  .rating .subtitle {
    color: #9d9d9d;
    font-weight: 500;
    font-size: 1.6em;
    letter-spacing: -.005rem; }
  .rating .testimonial {
    padding: 1.8rem;
    border: none;
    background: #fff;
    position: relative;
    background-color: #eee;
    color: #484848;
    border-radius: 3px;
    font-size: 1rem;
    margin: 1rem 0; }
    .rating .testimonial q {
      quotes: "“" "”" "‘" "’";
      font-style: italic;
      margin: 0 0 .6em 0; }
    .rating .testimonial q:before {
      font-family: Georgia,serif;
      font-style: italic;
      content: "“";
      font-size: 3.4em;
      line-height: .1em;
      margin-right: .1em;
      vertical-align: -.4em;
      color: rgba(0, 0, 0, 0.5); }
    .rating .testimonial hr.divider-half {
      width: 50%;
      margin: 1.2rem auto; }
    .rating .testimonial .title-info {
      opacity: 1;
      letter-spacing: -.005rem;
      font-size: .85em;
      font-weight: 500;
      text-transform: uppercase; }
  .rating .testimonial:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(249, 182, 68, 0);
    border-top-color: #eee;
    border-width: 24px;
    left: 25%;
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    transform: skewX(45deg); }
  .rating .custom-button {
    margin-top: 2rem;
    width: 15%; }

.container-slider {
  height: 117px;
  font-size: .9rem;
  background: transparent; }
  .container-slider .aside {
    height: 117px;
    background: #8bc343;
    color: #fff;
    font-size: .75rem;
    margin-right: 2.35765%;
    padding-left: 1.2rem;
    display: table;
    width: 100%;
    position: relative; }
    .container-slider .aside .flag {
      display: table-cell;
      vertical-align: middle; }
      .container-slider .aside .flag .flag-image {
        padding-right: 1em;
        float: left; }
        .container-slider .aside .flag .flag-image .icon-clock {
          stroke: #fff;
          background-size: cover;
          position: relative;
          fill: currentColor;
          vertical-align: text-top;
          height: 64px;
          width: 64px;
          stroke-width: 2; }
      .container-slider .aside .flag .flag-content {
        display: table-cell;
        vertical-align: middle;
        height: 64px; }
        .container-slider .aside .flag .flag-content .h1 {
          color: #fff;
          font-size: 2.5rem;
          letter-spacing: -.02em;
          line-height: 1.2;
          font-weight: 500;
          text-transform: none; }
        .container-slider .aside .flag .flag-content .title-info {
          opacity: .9;
          letter-spacing: -.005rem;
          font-size: .85em;
          font-weight: 500;
          text-transform: uppercase; }
    .container-slider .aside .box-triangle {
      position: absolute;
      right: -30px;
      height: 117px;
      width: 44px;
      top: 0;
      fill: #8bc343; }
  .container-slider .slider-content:last-child {
    margin-right: 0; }
  .container-slider .slider-content {
    padding: 1.8rem;
    overflow: hidden;
    position: relative;
    margin-top: 0; }
    .container-slider .slider-content .site-ticker {
      list-style-type: none;
      white-space: nowrap;
      position: relative; }

.statistics {
  padding: 1.8rem 0;
  margin: 0;
  background: #fff;
  border-bottom: 1px solid #e8e8e8; }
  .statistics .big-number {
    font-weight: 700;
    font-size: 3em;
    letter-spacing: -.005rem;
    color: #8bc343;
    line-height: 1; }
  .statistics .title-info {
    opacity: .9;
    letter-spacing: -.005rem;
    font-size: .85em;
    font-weight: 500;
    text-transform: uppercase; }

.steps-info {
  border-bottom: 1px solid #e8e8e8;
  padding: 1.8rem 0; }
  .steps-info .section-title {
    font-size: 2.6em;
    margin: 0 0 1.2rem 0;
    color: #404040;
    text-align: center;
    font-weight: 500;
    letter-spacing: -.005rem;
    line-height: 1.2;
    text-transform: none; }
  .steps-info hr.divider-short-center {
    width: 100px;
    margin: 1.8rem auto;
    display: block;
    height: 0.5px;
    background-color: #ddd;
    padding: 0; }
  .steps-info .subtitle {
    color: #9d9d9d;
    font-weight: 500;
    font-size: 1.6em;
    letter-spacing: -.005rem; }
  .steps-info .step-one-svg,
  .steps-info .step-three-svg {
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .steps-info .step-info {
    margin: 2rem 0; }
    .steps-info .step-info h3 {
      font-size: 1.6em;
      line-height: 1.2;
      margin: 0 0 .6em 0;
      color: #404040;
      font-weight: 500;
      text-transform: none; }
    .steps-info .step-info .subs-info {
      margin-right: 2.35765%;
      margin-top: 1em;
      margin-bottom: 1em; }
      .steps-info .step-info .subs-info .icon-large {
        background-size: cover;
        display: inline-block;
        position: relative;
        fill: currentColor;
        vertical-align: middle;
        height: 32px;
        width: 32px;
        opacity: .7; }
  .steps-info .step-two-svg {
    margin-right: 4rem;
    margin-top: 3rem;
    margin-bottom: 1rem; }

.page-wrapper {
  width: 100%;
  display: block;
  margin: auto;
  min-height: 100%;
  position: relative;
  background-color: #f1f1f1; }

main {
  padding-top: 78px; }

.splash {
  padding: 140px 0;
  position: relative;
  width: 100%;
  background: none;
  color: #fff;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .splash .splash-bg {
    background-image: url("../images/top-bg.jpg");
    background-position: 50% 70%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat; }
  .splash .splash-container {
    display: block;
    position: relative;
    padding: 3.6rem;
    background: rgba(139, 195, 67, 0.9);
    max-width: 840px; }
    .splash .splash-container h1.splash-title {
      color: #fff;
      text-align: center;
      font-size: 3.6em;
      margin-top: 0;
      letter-spacing: -.01em;
      margin-bottom: 1.8rem;
      line-height: 1.2; }
    .splash .splash-container p.splash-subtitle {
      max-width: 720px;
      font-size: 1.1em;
      margin-bottom: 1.8rem;
      text-align: center; }
    .splash .splash-container .splash-pre-form {
      background: rgba(0, 0, 0, 0.1);
      padding: 1.2rem;
      font-size: 1em;
      box-shadow: 0 6px 11px -11px; }
      .splash .splash-container .splash-pre-form form {
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
      .splash .splash-container .splash-pre-form .what-select-wrapper {
        width: 100%;
        margin-bottom: 0;
        position: relative; }
        .splash .splash-container .splash-pre-form .what-select-wrapper .what-select {
          padding-right: 1.2rem; }
        .splash .splash-container .splash-pre-form .what-select-wrapper .splash-select-containter {
          border: none;
          background-image: url("../images/icon/combobox-arrow-large.svg");
          height: 55px;
          background-size: 55px 55px;
          border-radius: 3px;
          font-size: 1em;
          background-repeat: no-repeat;
          background-position: right;
          background-color: #fff; }
          .splash .splash-container .splash-pre-form .what-select-wrapper .splash-select-containter input {
            border: none;
            box-shadow: none;
            padding: 0 0 0 50px;
            outline: none;
            border-radius: 3px;
            margin: 0;
            height: 55px;
            width: calc(100% - 55px);
            background-image: url("../images/icon/input-search.svg");
            background-repeat: no-repeat;
            background-position: left;
            background-size: 50px 50px; }
          .splash .splash-container .splash-pre-form .what-select-wrapper .splash-select-containter input:hover {
            background-image: url("../images/icon/input-search-hover.svg"); }
        .splash .splash-container .splash-pre-form .what-select-wrapper .splash-select-containter:hover {
          background-image: url("../images/icon/combobox-arrow-large-hover.svg"); }
        .splash .splash-container .splash-pre-form .what-select-wrapper .splash-index-containter input {
          border: none;
          box-shadow: none;
          padding: 0 0 0 50px;
          outline: none;
          border-radius: 3px;
          margin: 0;
          height: 55px;
          width: 100%;
          background-image: url("../images/icon/input-pin.svg");
          background-repeat: no-repeat;
          background-position: left;
          background-size: 50px 50px; }
        .splash .splash-container .splash-pre-form .what-select-wrapper .splash-index-containter input:hover {
          background-image: url("../images/icon/input-pin-hover.svg"); }
