<!DOCTYPE html>
{%load staticfiles%}

<html class="no-js" lang="ru">
    <head>
        <!--    править meta -->
        <meta name="viewport" content="width=1200" />
        <meta property="og:title" content="{%if page_title%}{{page_title}}{% else %}{{site_name}}{%endif%}" />
        <meta property="og:description" content="{% if globalSeo %}{{ globalSeo.meta_description|striptags  }}{% endif %}" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/foundation-icons.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}" type="image/x-icon" />

        <title>
            {%block title%}
                {%if page_title%}
                        {{page_title}} |
                {%endif%}
                {{site_name}}
            {%endblock%}
        </title>
        {% if globalSeo %}
            <meta name="keywords" content = "{{ globalSeo.meta_keyword }}" />
            <meta name="discription" content = "{{ globalSeo.meta_description }}" />
        {% endif %}
    </head>
<body>

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

          <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>

          <ul class="vertical menu">
              <li class="title-canvas">{{site_name}}</li>

           </ul>

           <ul class="vertical menu">
              <li class="title-canvas">Информация</li>
              <li><a href="/contacts/">Контакты</a></li>
               <li><a href="/about/">О нас</a></li>
               <li><a href="/pay/">Как купить</a></li>
               <li><a href="/partners/">Партнеры</a></li>
           </ul>

      </div>
      <div class="off-canvas-content" data-off-canvas-content>
          <div class="main-section">
            <div class="title-bar show-for-small-only" >
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="offCanvas"></button>
                </div>
                <div class="title-bar-right">
                    {%if not user.is_authenticated%}
                        <button type="button" data-toggle="modalLogin" onclick="resetAlert()"><i class="fi-torso"></i></button>
                    {% else %}
                        <a href=""><i class="fi-torso"></i></a>
                    {% endif %}
                </div>
            </div>

              {% block header %} {% endblock %}
              {% block content %} {% endblock %}
          </div>
          <div class="footer-section">
              {%block footer%} {%endblock%}
          </div>
      </div>
    </div>
</div>

<div class="tiny reveal" id="callModal" data-reveal>
    <div class="large-12 columns large-inside pop-up">
    <div class="h1">Заказать звонок</div>
    <form class="callback_form">{%csrf_token%}
        {% if getProduct %}
            <input id="id_info" name="info" type="hidden" value="{{ getProduct.slug }}">
        {% endif %}
        <div class="row-form">
            <div class="span1">Имя</div>
            <div class="span2">
                {{ form.name }}
            </div>
            <div class="clear"></div>
        </div>
        <div class="row-form">
            <div class="span1">Телефон</div>
            <div class="span2">
                {{ form.telephone }}
            </div>
        </div>

		<div class="submit">
			<button name="send_button" class="btn_buy popdef">Заказать</button>
		</div>
	</form>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="tiny reveal" id="loginModal" data-reveal>
     <ul class="tabs pop-up" data-tabs id="login-tabs">
         <div class="large-6 columns large-inside">
             <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Вход</a></li>
         </div>
         <div class="large-6 columns large-inside">
             <li class="tabs-title"><a href="#panel2">Регистрация</a></li>
         </div>
     </ul>

    <div class="tabs-content" data-tabs-content="login-tabs">
        <div class="tabs-panel is-active" id="panel1">
            <form method="POST" id="login-form">
                {%csrf_token%}
                <div class="large-12">
                    {{ formLogin.email.label_tag }}
                    {{ formLogin.email }}
                    {{ formLogin.password.label_tag }}
                    {{ formLogin.password }}
                    <span id="span-hidden-pw-login" class="span-hidden"></span>
                </div>
                <div class="large-5 large-centered">
                    <button name="login" class="btn_buy popdef">Войти</button>
                </div>
            </form>
        </div>

        <div class="tabs-panel" id="panel2">
            <form method="POST" id="registration-form">
                {% csrf_token %}
                <div class="large-12">
                    {{ formRegister.email.label_tag }}
                    {{ formRegister.email }}
                    <span id="span-hidden-em-reg" class="span-hidden"></span>
                    {{ formRegister.first_name.label_tag }}
                    {{ formRegister.first_name }}
                    {{ formRegister.last_name.label_tag }}
                    {{ formRegister.last_name }}
                    {{ formRegister.phone.label_tag }}
                    {{ formRegister.phone }}
                    {{ formRegister.password1.label_tag }}
                    {{ formRegister.password1 }}
                    <span id="span-hidden-pw-reg" class="span-hidden"></span>
                    {{ formRegister.password2.label_tag }}
                    {{ formRegister.password2 }}
                </div>
                <div class="large-6 large-centered">
                    <button name="registration" class="btn_buy popdef">Регистрация</button>
                </div>
            </form>
        </div>
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/foundation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/imagelightbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main-svet.js' %}"></script>

</body>
</html>