{%extends 'base.html'%}
{%load staticfiles%}
{%load thumbnail%}

{% block header %}
    <header id="header">
        <div class="row">
            <div class="large-12 columns" id="header-top">
                    <div class="large-3 columns">
                        <a href="/" class="logo"></a>
                    </div>
                    <div class="large-3 large-offset-2 columns">
                        <div id="free-telefonia" class="phone">{{ contacts.phone }}</div>
                    </div>
                    <div class="large-2 columns">
                        <p class="time">
                            <i class="fi-clock"></i>Время работы:
                        </p>
                        <p>
                            ПН-ПТ 08:00 - 17:00<br>
	                        СБ-ВС выходные дни
                        </p>
                    </div>
                    <div class="large-2 columns">
                        {%if user.is_authenticated%}
                            <a href="{% url 'logout' %}" class="button btn-header">
                                <span class="text">Выход</span>
                            </a>
                        {% else %}
                            <a class="button btn-header" data-toggle="loginModal">
                                <span class="text">Вход</span>
                            </a>
                        {% endif %}
                         <a class="button btn-header" data-toggle="callModal">
                            <span class="text">Заказать звонок</span>
                        </a>
                    </div>

            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="top-menu">
                    <ul class="store-horizontal">
                        <li>
                            <a href="{% url 'catalog' %}" class="root-item">Каталог товаров</a>
                        </li>
                        <li>
                            <a href="/partner/" class="root-item">Сотрудничество</a>
                        </li>
                        <li>
                            <a href="{% url 'ourworks' %}" class="root-item">Наши работы</a>
                        </li>
                        <li>
                            <a href="{% url 'blog' %}" class="root-item">Наш блог</a>
                        </li>
                        <li>
                            <a href="/contacts/" class="root-item">Контакты</a>
                        </li>
                        <li>
                            <a href="/certificate/" class="root-item">Сертификаты</a>
                        </li>
                        {%if user.is_authenticated%}
                            <li>
                                <a href="{% url 'download_price' %}" class="root-item">Прайс-лист</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns large-inside">
                <div class="wrap3d">
                    <div class="compo3d">
                        <div id="light_profil"></div>
                        <div id="light_projectors"></div>
                        <div id="light_lamps"></div>
                        <div id="light_rgb"></div>
                        <div id="light_linear"></div>
                        <div id="light_pointers"></div>
                        <div id="light_ribbon"></div>
                    </div>
                </div>
            </div>
        </div>

    </header>
{% endblock %}

{%block content%}
    <div class="row">
        <div class="large-12 columns" id="content-wrap">
            <div class="large-3 columns">
                {% if getCatalog %}
                    {% include 'tags/vertical-nav.html' %}
                {% endif %}
            </div>
            <div class="large-9 columns">
                {% if slides %}
                    <div class="orbit" role="region" data-orbit {% if slides.count < 2 %}data-auto-play="false"{% endif %}>
                    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

                        <ul class="orbit-container">
                            {% if slides.count > 1 %}
                                {% for slider in slides %}
                                    <li class="orbit-slide">
                                        <a href="{{ slider.url }}">
                                            {% thumbnail slider.image "600x210" crop="center" as im %}
                                                <img class="orbit-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                            {% endthumbnail %}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="orbit-slide">
                                    <a href="{{ slider.url }}">
                                        {% thumbnail slider.0.image "600x210" crop="center" as im %}
                                            <img class="orbit-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt='{{ slider.0.name }}'>
                                        {% endthumbnail %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% if contents %}
            <div class="large-9 columns">
                {% for content in contents%}
                    <div class="large-12 columns large-inside">
                        <div class="main-content-field">
                            {{ content.content|safe }}
                        </div>
                        <hr>
                    </div>
                {% endfor %}

                {% if allContent.count > 16 %}
                    <div class="large-12 columns large-inside">
                        <ul class="pagination" role="navigation" aria-label="Pagination">
                            {% if contents.has_previous %}
                                <li class="pagination-previous"><a href="?page={{contents.previous_page_number}}"><span class="show-for-sr">page</span></a></li>
                            {% endif %}
                            {%for page in contents.paginator.page_range%}
                                {%if page == products.number%}
                                    <li class="current"><a href="?page={{page}}">{{page}}</a></li>
                                {%else%}
                                    <li><a href="?page={{page}}">{{page}}</a></li>
                                {%endif%}
                            {%endfor%}

                            {% if contents.has_next %}
                                <li class="pagination-next"><a href="?page={{contents.next_page_number}}"><span class="show-for-sr">page</span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{%endblock%}

{% block footer %}
    <div class="row">
        <div class="large-4 columns">
            <div class="footer-logo">
                <a href="{% url 'main' %}"></a>
            </div>
                <address class="adress">
                    <span class="date-site">2010-2017 - «lumen35.ru» © Свет в будущее</span>
                    <span class="date-site">{{ contacts.street }}</span>
                </address>

        </div>
        <div class="large-4 large-offset-4 columns">
            <div class="contacts-two">
                <span class="contacts-footer">Контактные данные: {{ contacts.phone }}</span>
                <span class="contacts-footer">email: {{ contacts.email }}</span>
            </div>
        </div>
         <div class="large-4 large-offset-4 columns">
             <div class="contacts-btn">
                <a class="button btn-footer" data-toggle="callModal">
                    <span class="text">Заказать звонок</span>
                </a>
            </div>
        </div>
        <div class="large-12 columns">
            <div class="copy">Информация на сайте lumen35.ru не является публичной офертой. Указанные цены действуют только при оформлении заказа через интернет-магазин lumen35.ru.</div>
        </div>
    </div>
{% endblock %}