{%extends 'main.html'%}
{%load thumbnail%}

{% block title %}
   {{flatpage.title}} - {{ site_name }}
{% endblock %}

{%block content%}
    <div class="row">
        <div class="large-12 columns" id="content-wrap">
            <div class="large-3 columns">
                {% if getCatalog %}
                    {% include 'tags/vertical-nav.html' %}
                {% endif %}
            </div>
            <div class="large-9 columns">
                <div class="large-12 columns">
                    <h2>{{flatpage.title}}</h2>
                </div>
                <div class="large-12 columns breadcrmbs">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'main' %}"><i class="fi-home"></i></a></li>
                            <li class="product-current"><span class="show-for-sr">Current: </span>{{ flatpage.title }}</li>
                        </ul>
                    </nav>
                </div>
                <div class="large-12 columns flat-content">
                    {{flatpage.content}}
                </div>
            </div>
        </div>
    </div>
{%endblock%}