{%extends 'main.html'%}
{%load thumbnail%}

{%block content%}
    <div class="row" id="social-catalog">
        <div class="large-12 columns" id="content-wrap">
            <div class="large-3 columns">
                {% if getCatalog %}
                    {% include 'tags/vertical-nav.html' %}
                {% endif %}
            </div>
            {% block category %}
            <div class="large-9 columns" id="test-eq">
                {% for category in getCatalog %}
                    {% if category.categoryclassmodel_set.all %}
                        <div class="catalog-section">
                            <div class="catalog-section-title active">
					            <p>{{ category.name }}</p>
                                <span class="showchild"><i class="fi-minus"></i><i class="fi-plus"></i></span>
                            </div>
                            <div class="catalog-section-childs" data-equalizer data-equalize-on="large">
                                {% for subCategory in category.categoryclassmodel_set.all%}
                                    <div class="large-3 columns large-inside end catalog-section-child" data-equalizer-watch>
		        					    <a href="{{ subCategory.get_absolute_url }}" alt="{{ subCategory.name }}">
        								    <span class="child">
		        							    <span class="image">
                                                    {% thumbnail subCategory.image "60x50" format="PNG" crop="center" as im %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ subCategory.name }}">
                                                    {% endthumbnail %}
                                                </span>
            									<span class="text">{{ subCategory.name }}</span>
	            							</span>
        		    					</a>
		        	    			</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endblock %}
        </div>
    </div>
{%endblock%}

