{%extends 'catalog/catalog.html'%}
{%load thumbnail%}

{% block category %}
    <div class="large-9 columns">
        <div class="large-12 columns large-inside">

                    <div class="catalog-section">
                        <div class="catalog-section-title">
					        <p>{{ getCategoryClass.name }}</p>
                        </div>
                        {% if products %}
                            {% for product in products %}
                                {% include 'tags/product_box.html' %}
                            {% endfor %}
                        {% endif %}
                    </div>

        </div>
        {% if allProducts.count > 16 %}
            <div class="large-12 columns large-inside">
                <ul class="pagination" role="navigation" aria-label="Pagination">
                    {% if products.has_previous %}
                        <li class="pagination-previous"><a href="?page={{products.previous_page_number}}"><span class="show-for-sr">page</span></a></li>
                    {% endif %}

                    {%for page in products.paginator.page_range%}
                        {%if page == products.number%}
                            <li class="current"><a href="?page={{page}}">{{page}}</a></li>
                        {%else%}
                            <li><a href="?page={{page}}">{{page}}</a></li>
                        {%endif%}
                    {%endfor%}

                    {% if products.has_next %}
                        <li class="pagination-next"><a href="?page={{products.next_page_number}}"><span class="show-for-sr">page</span></a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}