{%extends 'catalog/catalog.html'%}
{%load thumbnail%}

{% block category %}
    <div class="large-9 columns">

                    <div class="catalog-section">
                        <div class="catalog-section-title active">
					        <p>{{ getCategory.name }}</p>
                        </div>
                        {% if getCategoryClass %}
                            <div class="catalog-section-childs">
                                {% for class in getCategoryClass %}
                                    <div class="large-3 columns large-inside end catalog-section-child">
		        					    <a href="{{class.get_absolute_url  }}" alt="{{ class.name }}">
        								    <span class="child">
		        							    <span class="image">
                                                    {% thumbnail class.image "60x50" format="PNG" as im %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ class.name }}">
                                                    {% endthumbnail %}
                                                </span>
            									<span class="text">{{ class.name }}</span>
	            							</span>
        		    					</a>
		        	    			</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

            </div>
{% endblock %}