{%extends 'catalog/catalog.html'%}
{%load thumbnail%}

{% block category %}
    <div class="large-9 columns">
        <div class="large-12 columns large-inside breadcrmbs">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'main' %}"><i class="fi-home"></i></a></li>
                    <li><a href="{% url 'catalog' %}">Католог товаров</a></li>
                    <li><a href="{{ getProduct.toCategoryCalss.get_absolute_url }}">{{ getProduct.toCategoryCalss.name }}</a></li>
                    <li class="product-current"><span class="show-for-sr">Current: </span>{{ getProduct.name }}</li>
                </ul>
            </nav>
        </div>
        <div class="large-12 columns large-inside">
            <h3>{{ getProduct.name }}</h3>
        </div>
        <div class="large-12 columns large-inside">
            <div class="large-5 columns large-inside image-column">
                <div class="large-12 columns large-inside catalog-detail-pictures">

                        <div class="catalog-detail-picture">
                            <div class="detail_picture">
                                <a class="catalog-detail-images" data-imagelightbox="a" href="{{ getProduct.image_product.all.0.image.url }}">
                                    {% thumbnail getProduct.image_product.all.0.image "310x250" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </a>
                            </div>
                        </div>

                </div>
            </div>
            <div class="large-7 columns right-column">
                <div class="large-12 columns large-inside">
                    <div class="catalog-detail-preview-text">{{ getProduct.name }}</div>
                </div>
                <div class="large-5 columns large-inside">
                <div class="article">Артикул: {{ getProduct.articul }}</div>
                <div class="product-price-block">
                    {% if getProduct.sale_price %}
                        <span class="catalog-detail-item-price-old">{{ getProduct.oldPrice }} руб. за шт.</span>
                        <span class="catalog-detail-item-price-percent">Экономия: {{ getProduct.sale }} руб.</span>
                        <span class="catalog-detail-item-price">{{ getProduct.price }}
                            <span class="unit">
                                <span>руб. за шт.</span>
                            </span>
                        </span>
                    {% else %}
                        <span class="catalog-detail-item-price">{{ getProduct.price }}
                            <span class="unit">
                                <span>руб. за шт</span>
                            </span>
                        </span>
                    {% endif %}
                </div>
                </div>
                <div class="large-7 columns">
                    <a class="button btn-product" data-toggle="callModal" aria-controls="callModal" aria-haspopup="true" tabindex="0">
                        <span class="text">Оформить заявку</span>
                    </a>
                </div>

                {% if getProduct.image_product.all %}
                <div class="large-12 columns large-inside">
                    <div class="more_photo">
                        <ul>
                            {% for productImage in getProduct.image_product.all %}
                                {% if forloop.counter0 > 0 and  forloop.counter0 < 5%}
                                <li>
                                    <a data-imagelightbox="a" href="{{ productImage.image.url }}">
                                        {% thumbnail productImage.image "86x86" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="large-12 columns large-inside detail">
                <div class="catalog-detail-properties">
                    <div class="h4">Характеристики:</div>
                    {% for param in getProduct.get_list_params %}
                        {% if param.1 %}
                            <div class="catalog-detail-property">
                                <span class="name">{{ param.0 }}</span>
                                <span class="val">{{ param.1 }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

        </div>
    </div>
{% endblock %}